{% extends 'application/base.html' %}

{% block content %}

<div class="container-fluid py-4 px-4">
    <div class="row">
        <div class="col text-secondary">
            <p>Search the data gathered by BinaryEdge
                </p>

                <form action="">
                    <input type="search" class="form-control mb-2" placeholder="Search..." aria-label="Search">
                    <button class="btn btn-danger">Search</button>
                </form>
        </div>
        <div class="col">
            <h3>FILTER BY: </h3>
            <div class="row py-4">
                <div class="col">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                            MOBILE
                        </label>
                    </div>
                </div>
                <div class="col">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                            VNC
                        </label>
                    </div>
                </div>
                <div class="col">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                            X11
                        </label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                            RDP
                        </label>
                    </div>
                </div>
                <div class="col">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                            WINDOWS
                        </label>
                    </div>
                </div>
                <div class="col">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                            HAS FACES
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<hr>

<div class="container-fluid">
    <table class="table">
        <tbody>
          <tr>
            <th scope="row"><img src="https://d3f9qnon04ymh2.cloudfront.net/903fb257b18ad9e232964310073116f302ea73ac4bb610386f82ae58da4d341b3d.jpg" alt=""></th>
            <td><img src="https://d3f9qnon04ymh2.cloudfront.net/903fb257b18ad9e232964310073116f302ea73ac4bb610386f82ae58da4d341b3d.jpg" alt=""></td>
            <td><img src="https://d3f9qnon04ymh2.cloudfront.net/903fb257b18ad9e232964310073116f302ea73ac4bb610386f82ae58da4d341b3d.jpg" alt=""></td>
            <td><img src="https://d3f9qnon04ymh2.cloudfront.net/903fb257b18ad9e232964310073116f302ea73ac4bb610386f82ae58da4d341b3d.jpg" alt=""></td>
        </tr>
        <tr>
            <th scope="row"><img src="https://d3f9qnon04ymh2.cloudfront.net/903fb257b18ad9e232964310073116f302ea73ac4bb610386f82ae58da4d341b3d.jpg" alt=""></th>
            <td><img src="https://d3f9qnon04ymh2.cloudfront.net/903fb257b18ad9e232964310073116f302ea73ac4bb610386f82ae58da4d341b3d.jpg" alt=""></td>
            <td><img src="https://d3f9qnon04ymh2.cloudfront.net/903fb257b18ad9e232964310073116f302ea73ac4bb610386f82ae58da4d341b3d.jpg" alt=""></td>
            <td><img src="https://d3f9qnon04ymh2.cloudfront.net/903fb257b18ad9e232964310073116f302ea73ac4bb610386f82ae58da4d341b3d.jpg" alt=""></td>
        </tr>
        <tr>
            <th scope="row"><img src="https://d3f9qnon04ymh2.cloudfront.net/903fb257b18ad9e232964310073116f302ea73ac4bb610386f82ae58da4d341b3d.jpg" alt=""></th>
            <td><img src="https://d3f9qnon04ymh2.cloudfront.net/903fb257b18ad9e232964310073116f302ea73ac4bb610386f82ae58da4d341b3d.jpg" alt=""></td>
            <td><img src="https://d3f9qnon04ymh2.cloudfront.net/903fb257b18ad9e232964310073116f302ea73ac4bb610386f82ae58da4d341b3d.jpg" alt=""></td>
            <td><img src="https://d3f9qnon04ymh2.cloudfront.net/903fb257b18ad9e232964310073116f302ea73ac4bb610386f82ae58da4d341b3d.jpg" alt=""></td>
        </tr>
        <tr>
            <th scope="row"><img src="https://d3f9qnon04ymh2.cloudfront.net/903fb257b18ad9e232964310073116f302ea73ac4bb610386f82ae58da4d341b3d.jpg" alt=""></th>
            <td><img src="https://d3f9qnon04ymh2.cloudfront.net/903fb257b18ad9e232964310073116f302ea73ac4bb610386f82ae58da4d341b3d.jpg" alt=""></td>
            <td><img src="https://d3f9qnon04ymh2.cloudfront.net/903fb257b18ad9e232964310073116f302ea73ac4bb610386f82ae58da4d341b3d.jpg" alt=""></td>
            <td><img src="https://d3f9qnon04ymh2.cloudfront.net/903fb257b18ad9e232964310073116f302ea73ac4bb610386f82ae58da4d341b3d.jpg" alt=""></td>
        </tr>
        </tbody>
      </table>
</div>


{% endblock content %}


